flask==3.0.3
flask_sqlalchemy==3.1.1
gunicorn==21.2.0
psycopg[binary]==3.2.10
python-dotenv==1.0.1
requests==2.32.3
flasgger==0.9.7b2
flask-cors==4.0.1
Flask-JWT-Extended==4.6.0
openai==1.93.0
flask-socketio==5.3.6
eventlet==0.36.1
simple-websocket==1.0.0
